# General
*.log
.DS_Store
.env  # MongoDB Atlas credentials
.vscode

# Node/React
frontend/node_modules/
frontend/build/
backend/node_modules/


#Backend
backend/.env

# Python
py_server/__pycache__/
py_server/*.pyc
py_server/*.pyo
py_server/venv/
py_server/outputs/
py_server/*.mp3
py_server/*.wav
py_server/ffmpeg.exe
py_server/ffmpeg

# Docker
*.tar  # Saved Docker images