* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* The slider itself */
/* Style the slider track */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.25rem;
  background: #ddd; /* Default track color */
  border-radius: 3px;
  outline: none;
  position: relative;
  transition: background 0.3s ease;
}

/* Remove default styles */
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
}

/* Style the thumb */
.slider:hover::-webkit-slider-thumb {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  opacity: 1;
  width: 1rem;
  height: 1rem;
  background: rgb(147 51 234 / var(--tw-bg-opacity, 1));
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* Align thumb */
  position: relative;
  transition: all 0.2s ease-in-out;
}

.volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.25rem;
  background: #797979; /* Default track color */
  border-radius: 3px;
  outline: none;
  position: relative;
  transition: background 0.3s ease;
}

/* Track (the line) */
.volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
}

/* Thumb (the handle) */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  opacity: 1;
  width: 0.8rem;
  height: 0.8rem;
  background: rgb(147 51 234 / var(--tw-bg-opacity, 1));
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px; /* Align thumb */
  position: relative;
  transition: all 0.2s ease-in-out;
}
