@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  
  /* The slider itself */
/* Style the slider track */


/* JavaScript will update the track color dynamically */
