@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  
  /* The slider itself */
/* Style the slider track */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.25rem;
    background: #ddd; /* Default track color */
    border-radius: 3px;
    outline: none;
    position: relative;
    transition: background 0.3s ease;
}

/* Remove default styles */
.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    border-radius: 3px;
}

/* Style the thumb */
.slider:hover::-webkit-slider-thumb {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    opacity: 1;
    width: 1rem;
    height: 1rem;
    background: rgb(147 51 234 / var(--tw-bg-opacity, 1));
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px; /* Align thumb */
    position: relative;
    transition: all 0.2s ease-in-out;
}

/* JavaScript will update the track color dynamically */
